html{
    box-sizing:border-box;
}
*,*::before,*::after{
    box-sizing:inherit;
}
#container{
    max-width:1200px;
    
    margin:3em auto;
    font-size:20px;
    font-weight:bold;
    
    
    
}
img {
    border-radius:50%;
    height:300px;
    width:300px;
    margin-top:25px;
  }
  #section1{
      background-color:#D0ECC5;
      color:rgb(250, 82, 93);

  }
  #section2{
      background-color:#FFAAA5;
      color:rgb(68, 114, 49);
      
  }
  #section3{
    background-color:#D0ECC5;
    color:rgb(250, 82, 93);
    }
#section4{
    background-color:#FFAAA5;
    color:rgb(68, 114, 49);
    
    }
  #section2 img,#section4 img{
      margin-left:45px;
  }
  #section1 ul{
      display:inline-block;
      margin-left:2.7em;
    
      
  }
  #section1 img{
      margin-left:500px;
  }
  #section2 ul{
    display:inline-block;
    margin-left:11.11em;
  }
  #section3 ul{
      display:inline-block;
      margin-left:2.7em;
  }
  #section3 img{
      margin-left:220px;
  }
  #section4 ul{
      display:inline-block;
      margin-left:11.11em;

  }
 
  
  
  